<ion-header>
  <ion-toolbar>
    <ion-input type="text" placeholder="Search..." debounce="500" clearInput="true"
      (ionChange)="searchForMovie($event)"></ion-input>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" [scrollEvents]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor='let movie of movies | async'>
        <ion-label>{{movie.title}}</ion-label>
        <ion-button (click)="addToFaviurite(movie)">
          <ion-icon slot="icon-only" [name]="movie.isFavourite ? 'heart-outline' : 'heart'"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>